{{#each}}
  <ul class='country-list'>
    <li class='country_chars'>Capital: {{flags}}</li>
    <li class='country_chars'>Capital: {{capital}}</li>
    <li class='country_chars'>Population: {{population}}</li>
    <li class='country_chars'>Language: {{language}}</li>
  </ul>
{{/each}}